* {
  box-sizing: border-box;

  color: #0f172a;
  font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100dvh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;

  min-height: 125px;

  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  border: none;
  aspect-ratio: 4/1;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  outline: none;

  font-size: 1.2rem;
  font-weight: 600;
}

.input-group {
  display: flex;
  gap: 1rem;
}

.pulse {
  animation: pulse 2s infinite;
}

#yes {
  position: static;

  background-color: #c71585;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;

  color: #f1f5f9;
}

#no {
  background-color: #b0e0e6;
}

#watch-arcane {
  color: #c71585;
  font-size: 1.2rem;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
